.borderatas{
    background-color: #3F560D;
    width: 1255px;
    height: 90px;
    border: solid black;
    text-align: center;
}

.potoku{
    width: 240px; 
    height: 260px; 
    padding-top: 30px;
    padding-bottom: 40px;
}

.tabelkiri{
    float: left;
    width: 40%;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

.tabelkanan{
    float: right;
    width: 40%;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 40px;
}

.tabeltengah{
    width: 40%;
    margin-top: 260px;
    background-color: white;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}
